<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <div class="px-4 pt-5 my-5 text-center movieDatabase flex-fill">
        <div class="login">
            <h1>Login</h1>
            <div class="links">
                <a href="{{ url_for('login') }}" class="active">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            <form action="{{ url_for('login') }}" method="post">
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

</body>
</html>